.starsimg{
  background-image: url("img/star.jpg");
}

#moon {
  position:relative;
  height:1920px;
  width:1080px;
  margin:0 auto;
}

#moon img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#moon img.top:hover {
  opacity:0;
}
